header
	background:
		position: center 100px
		repeat: no-repeat
		size: cover

	.menu,
	.menuconf
		display: inline-block

	.menu
		float: left
		margin: 45px 0 45px 0
		width: 80%
		text-align: center
		nav
			ul
				li
					margin: 0 25px 0 0
					display: inline-block
					a
						color: $white
						text-transform: uppercase
						
	.menuconf
		float: right
		text-align: center
		line-height: 30px

		.store
			height: 35px
			width: 60px
			float: right
			background:
				color: $yellow

		.language
			height: 35px
			width: 30px
			float: right
			background: 
				color: $white
		a
			color: $dark-gray

