.aboutus
	//position: absolute
	//top: 674px
	width: 100%
	background:
			color: $yellow
	
	.main-social
		text-align: right
		padding: 10px 10px 10px 0
		ul
			li
				display: inline-block

	.main-title
		height: 100px
		padding-top: 15px
		text-align: center
		background:
			color: $black

		h1
			color: $white
			font-size: 60px	
	
	.main-text-container
		width: 100%
		.main-text
			margin: auto
			text-align: center
			padding-top: 40px
			height: 200px
			width: 450px
		
	.main-pics
		text-align: center
		img
			width: 200px
			height: 200px
		ul
			li
				display: inline-block
				margin: 0 25px 0 25px
		h1
			font-size: 30px
			margin-top: 20px

	.more-about
		text-align: right
		padding-top: 20px

		.button-moreabout
			font-size: 25px
			padding: 12px 0 12px 0
			text-align: center
			margin-top: 50px
			width: 270px
			height: 50px
			background:
				color: $black

			p,i
				display: inline-block
				color: $white
				padding-left: 20px
