@import aboutus
@import sponsorship
@import first-slider
@import rugby
@import social-media-separator
@import team-info
@import team-presentation
@import contactus
@import video-presentation

main
	min-height: 100%
	
	  
main:after
	content: ""
	display: block
