.social-media-separator
	max-height: 400px
	padding: 20px 0 20px 0
	text-align: center
	background:
		color: $yellow

	.social-globe
		width: 100%

	.social-text
		width: 100%
		h2
			font-size: 22px
			margin: auto
			padding-top: 50px
			height: 200px
			width: 450px

	.social-icons
		ul
			li
				display: inline-block
				padding: 0 7px 0 7px

@media (max-width: $mobile)
	.social-media-separator
		max-height: 300px
		padding: 10px 0 10px 0
		text-align: center

		.social-globe
			img
				width: 80px
				height: 80px

		.social-text
			width: 100%
			h2
				font-size: 18px
				margin: auto
				padding-top: 30px
				height: 150px
				width: 300px
		.social-icons

			ul
				li
					display: inline-block
					padding: 0 4px 0 4px
					img
						width: 30px
						height: 30px

