.sponsorship
	min-height: 160px
	border-top: 1px solid $yellow
	border-bottom: 1px solid $yellow
	text-align: center
	.sponsors-container
		margin: 20px 0 20px 0

		ul
			li	
				display: inline-block
				margin: 0 10px 0 10px
				img
					width: 100px
					height: 100px
					background: 
						repeat: no-repeat 
						size: cover
						position: center

@media(max-width: $mobile)
	.sponsorship
		min-height: 90px
		.sponsors-container
			margin: 10px 0 10px 0

			ul
				li	
					margin: 0 5px 0 5px
					img
						width: 70px
						height: 70px
							
@media(min-width: $mobile) and (max-width: $tablet)
	.sponsorship
		min-height: 110px
		.sponsors-container
			margin: 10px 0 10px 0

			ul
				li	
					margin: 0 10px 0 0
					img
						width: 90px
						height: 90px
							
								